<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:label="Recipe Explorer"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.detail.RecipeDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

    </application>

</manifest>
